extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Projects &nbsp;
      a.btn.btn-link.btn-sm.float-right(href="/projects/new")
        | New Project
  div
  //- Project Listing
  each project in projects
    li
      a(href="/projects/"+project._id)= project.name

  //- No Projects
  case projects.length
    when 0: p
      | There is No Projects&nbsp;
      a(href='/projects/new') Create a new one?
